@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

$grey: #928C8C;
$h1_font: 'IM Fell DW Pica SC', serif;
$logo_font: 'IBM Plex Mono', monospace;
$p_banner: 'Iceberg', cursive;
