<div class="card-produto">
  <%= cl_image_tag produto.foto.key, height: 300, width: 300, crop: :fill, class: "produto-img" %>
  <div class="card-infos">
    <h2 class="produto-name"><%= produto.nome %></h2>
    <i class="fa-regular fa-heart favorite-icon"></i>
  </div>
</div>
