<section id="navbar">
  <div class="left">
    <p class="logo">Nosso Artesanato</p>
  </div>
  <div class="right">
    <div class="menu">
      <p class="menu-item">HOME</p>
      <p class="menu-item">ABOUT</p>
      <p class="menu-item-last">PRODUTOS</p>
    </div>
  </div>
</section>
