<section id="navbar">
  <div class="left">
    <p class="logo">Nosso Artesanato</p>
  </div>
  <div class="right">
    <div class="menu">
      <p class="menu-item">HOME</p>
      <%= link_to "HOME", root_path, class:"menu-item" %>
      <p class="menu-item">ABOUT</p>
      <p class="menu-item-last">PRODUTOS</p>
    </div>
  </div>
</section>
      <%# <%= link_to 'ABOUT', about_path, class:"menu-item" %>
