<section class="about">
  <h1>Quem somos nós</h1>
  <p>Lorem ipsum erat non maa nunc lacus etiam, dapibus ante nulla diam nisl ut enim. aliquet nunc hac condimentum dui in gravida justo ut aliquam, leo posuere etiam habitant ad elit bibendum habitant vulputate urna, accumsan libero leo elit nostra pulvinar tempus amet. senectus nunc leo blandit porta non risus praesent tristique, sed at fermentum a quisque nibh scelerisque eros leo, arcu aliquam tempus ultrices class hac nulla. ad torquent pretium morbi metus egestas ligula consequat iaculis, felis tellus etiam quam facilisis donec nisl erat volutpat, purus imperdiet diam turpis ad vivamus mauris.</p>
  <p>Fringilla habitasse sapien aliquam imperdiem tempus fusce turpis sagittis, ipsum posuere ligula semper massa rutrum. imperdiet integer lectus senectus auctor cras neque dictumst cras, ultrices quis nullam euismod nisl et eleifend, lacus pretium tempor est potenti neque netus. eget ornare eros nulla turpis rutrum ornare massa varius, elit eget ut hendrerit nisi pharetra luctus senectus, ante euismod lobortis velit etiam ligula potenti. sociosqu arcu enim nunc euismod praesent velit ante quam sagittis tempus, quis vulputate sagittis pharetra platea litora id egestas sit libero, nulla pulvinar risus vulputate imperdiet habitant tempus lorem vestibulum. </p>

</section>
