<div class="banner">
  <%# <h1>Welcome to Nosso Artesanato</h1>
  <p>Site em construção...</p> %>
</div>

<%= link_to "Bandejas", "#" %>
<%= link_to "Caixas", "#" %>
<%= link_to "Minuaturas", "#" %>
<%= link_to "Outros", "#" %>
