<div class="container mt-5">
  <div class="row">
    <% @products.each do |produto| %>
      <div class="col-3">
        <%= render "shared/card", produto: produto %>
      </div>
    <% end %>
  </div>
</div>
