.produtos-cards{
  display: flex;
  flex-wrap: wrap;
}

.card-produto {
  overflow: hidden;
  // background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 375px;
  width: 300px;
  border-radius: 5px;
  margin: 12px;
}

.produto-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: $p_banner;

  .produto-name {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
  }

  .favorite-icon{
    cursor: pointer;
    font-size: 18px;
  }
}
