@import 'buttom';

.banner {
  height: 80vh;
  width: 98%;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 2.5px solid rgba(146, 140, 140, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.photos{
  position: relative;
  left: -15px;
  width: 50%;
  height: 95%;
  background-image: url(bandejapreta.JPG);
  // transform: scale(0.8);
  background-size: 100%;
  background-position: 25% 75%;
}

.banner-text {
  // background-color: yellow;
  border-left: 2.5px solid rgba(146, 140, 140, 0.5);
  width: 35%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1{
    font-family: $h1_font;
    font-size: 52px;
  }
  p{
    font-family: $p_banner;
    font-size: 30px;
  }
}

.top, .bottom{
  // background-color: grey;
  width: 100%;
  height: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
