@import 'config/color&fonts';
@import 'font-awesome';
@import 'components/navbar';
@import 'components/banner';
@import 'components/about';
@import 'components/card';
@import 'components/form';
@import 'components/produto';




body {
  height: 300vh;
}

// a{

// }
a:-webkit-any-link {
  color: $grey;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
